@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 95% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 24 20% 94%;
    --secondary-foreground: 24 10% 20%;
    --muted: 20 14.3% 96%;
    --muted-foreground: 12 6.5% 45%;
    --accent: 24 100% 96%;
    --accent-foreground: 24 60% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24 95% 53%;
  }

  .dark:root {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 10% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 95%;
    --primary: 24 95% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 24 10% 16%;
    --secondary-foreground: 0 0% 95%;
    --muted: 12 6.5% 15%;
    --muted-foreground: 24 5% 64%;
    --accent: 24 15% 16%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 6% 19%;
    --input: 24 6% 19%;
    --ring: 24 95% 58%;
  }
}
